---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<div class="mx-auto grid max-w-6xl grid-cols-2 gap-8 p-8">
					{
						posts.map((post) => (
							<div class="space-4 mx-auto">
								<a href={`/blog/${post.slug}/`}>
									<div class="mx-auto h-96 w-full">
										<img
											class="h-full w-full object-cover"
											src={post.data.heroImage}
											alt=""
										/>
									</div>
									<h3 class="title">{post.data.title}</h3>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</div>
						))
					}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
