---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import type { Preference } from '../types';

import * as Card from '../components/ui/card';
import { sanityClient } from 'sanity:client';

const preferences = (await sanityClient.fetch(
	`*[_type == "preference"] | order(_createdAt asc)`
)) as Preference[];
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section id='content-header'>
				<h1 class='py-4 text-center text-6xl font-bold'>Computing</h1>
				<article class='space-y-8 text-center text-2xl'>
					<p>Technology I use on a daily basis, and why I like it.</p>
					<p></p>
				</article>
			</section>
			<div class='m-8 mx-auto grid max-w-6xl grid-cols-1 gap-4 bg-background px-4 md:grid-cols-2'>
				{
					preferences.map((preference) => (
						<Card.Root id={preference._id}>
							<Card.Header>
								<Card.Title>{preference.name}</Card.Title>
								<Card.Description>{preference.choice}</Card.Description>
							</Card.Header>
							<Card.Content>{preference.description}</Card.Content>
						</Card.Root>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
