---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// import { Badge } from '../components/ui/badge';

const { title, description, updatedDate, heroImage, categories } = Astro.props;
// console.log(Astro.props);
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<picture class="relative">
					{
						heroImage && (
							<img
								class="mb-6 max-h-[50dvh] w-full object-cover object-top shadow-sm"
								src={heroImage}
								alt="Hero image"
							/>
						)
					}
				</picture>
				<div class="prose m-auto w-5/6 max-w-4xl space-y-8 p-4 text-lg">
					<div class="title space-y-8">
						<div class="text-sm font-medium leading-none space-y-1">
							<h1 class="py-4 text-6xl font-bold">{title}</h1>
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on {updatedDate}
									</div>
								)
							}
							{
								(
									<div class="space-x-2 space-y-4">
										{categories?.map((category: { title: string }) => (
											// <Badge variant="default">{category.title}</Badge>
                          <span class="inline-flex items-center border rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none select-none focus:ring-2 focus:ring-ring focus:ring-offset-2 bg-primary hover:bg-primary/80 border-transparent text-primary-foreground">
                            {category.title}
                          </span>
										))}
									</div>
								)
							}
						</div>
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
